/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.filter-section
{
    margin: 20px 0px;
    min-height: 60px;
    padding: 0;
}

.filter-box
{
    margin: 10px 0px;
    float: left;
    padding: 0;
}

.allergy-table-button
{
    float: right;
    margin-bottom: 6px;
}