@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <button class="collapsible">Allergy History</button>
    <div class="content col-12">
        <div class="col-12 filter-section">
            <div class="col-md-3 offset-md-0 col-sm-12 filter-box">
                <span class="prefix-box-icon"><i class="fa fa-filter" aria-hidden="true"></i></span>
                <select class="selectpicker show-tick">
                    <option>Active</option>
                    <option>Inactive</option>
                </select>

            </div>

            <div class="col-md-3 offset-md-4 col-sm-12 filter-box">
                <span class="prefix-box-icon"><i class="fas fa-clock" aria-hidden="true"></i></span>
                <select class="selectpicker show-tick">
                    <option>All</option>
                    <option>1 Year</option>
                    <option>6 Month</option>
                    <option>Most Recent</option>
                </select>
            </div>

            <div class="col-md-4 offset-md-8 col-sm-12 filter-box">
                <span class="prefix-box-icon"><i class="fas fa-search" aria-hidden="true"></i></span>
                <input id="searchTextFilter" />
            </div>
        </div>

        <div style="width:100%; margin:0 auto;">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Type</th>
                        <th>Allergen</th>
                        <th>Reaction</th>
                        <th>Severity</th>
                        <th>Notes</th>
                        <th>Create Info</th>
                        <th>Update Info</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <button class="collapsible">Allergy Input</button>
    <div class="content col-12">
        <p>xxxxxx</p>
    </div>

</div>